IRU.RTS.WS/TestClient/IRU.RTS.WS.TestClient/Service References/CarnetService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rts.iru.org/services/CarnetService-1" elementFormDefault="qualified" targetNamespace="http://rts.iru.org/services/CarnetService-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="?xsd=xsd1" namespace="http://rts.iru.org/model/carnet-1" />
  <xs:element name="GetInvalidatedCarnets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="from" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="to" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="offset" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="count" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvalidatedCarnetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://rts.iru.org/model/carnet-1" minOccurs="0" maxOccurs="1" name="GetInvalidatedCarnetsResult" type="q1:stoppedCarnetsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>