IRU.RTS.WS/TestClient/IRU.RTS.WS.TestClient/Service References/CarnetService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://rts.iru.org/model/carnet-1" elementFormDefault="qualified" targetNamespace="http://rts.iru.org/model/carnet-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="stoppedCarnetType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="1" name="CarnetNumber" type="xs:token" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExpiryDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="Association" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Holder" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeclarationDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="InvalidationDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="InvalidationStatus" type="invalidationStatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stoppedCarnetsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="1" name="Total">
        <xs:complexType>
          <xs:attribute name="From" type="xs:dateTime" use="required" />
          <xs:attribute name="To" type="xs:dateTime" use="required" />
          <xs:attribute name="Count" type="xs:int" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="StoppedCarnets">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="StoppedCarnet" type="stoppedCarnetType" />
          </xs:sequence>
          <xs:attribute name="Offset" type="xs:int" use="required" />
          <xs:attribute name="Count" type="xs:int" use="required" />
          <xs:attribute name="EndReached" type="xs:boolean" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="invalidationStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Destroyed" />
      <xs:enumeration value="Lost" />
      <xs:enumeration value="Stolen" />
      <xs:enumeration value="Retained" />
      <xs:enumeration value="Excluded" />
      <xs:enumeration value="Invalidated" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>