plus/IRU.RTS.WS/TestClient/IRU.RTS.WS.TestClient/Service References/CarnetService/Metadata5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.iru.org/model/tir-carnet-1" xmlns:g="http://www.iru.org/model/guarantee-1" elementFormDefault="qualified" targetNamespace="http://www.iru.org/model/tir-carnet-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="/emex/Metadata?sn=e2h0dHA6Ly9ydHMuaXJ1Lm9yZy9zZXJ2aWNlcy9DYXJuZXRTZXJ2aWNlLTF9Q2FybmV0U2VydmljZQ==&amp;dpa=True&amp;el=4" namespace="http://www.iru.org/model/guarantee-1" />
  <xs:simpleType name="TIRCarnetNumberType">
    <xs:restriction base="g:GuaranteeNumberType" />
  </xs:simpleType>
  <xs:simpleType name="VoletPageNumberType">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VoletCountType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="4" />
      <xs:enumeration value="6" />
      <xs:enumeration value="14" />
      <xs:enumeration value="20" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>