plus/IRU.RTS.WS/TestClient/IRU.RTS.WS.TestClient/Service References/CarnetService/Metadata3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.iru.org/model/guarantee-1" xmlns:ccts="urn:un:unece:uncefact:documentation:2" elementFormDefault="qualified" targetNamespace="http://www.iru.org/model/guarantee-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="GuaranteeNumberType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z]{0,2}[0-9]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LegalFrameworkType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="LegalFrameworkTypeType">
    <xs:restriction base="LegalFrameworkType">
      <xs:enumeration value="http://www.unece.org/tir/tirconv/conv75.html" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsageRuleType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="UsageRuleTypeType">
    <xs:restriction base="UsageRuleType">
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/volet#4" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/volet#6" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/volet#14" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/volet#20" />
      <xs:enumeration value="http://www.iru.org/model/association/deed-of-engagement#pilot-addendum" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsageRuleSetType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="UsageRuleSetTypeType">
    <xs:restriction base="UsageRuleSetType">
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/usage-rule-set#4" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/usage-rule-set#6" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/usage-rule-set#6-pilot" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/usage-rule-set#14" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/usage-rule-set#20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GuaranteeFormatType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="GuaranteeFormatTypeType">
    <xs:restriction base="GuaranteeFormatType">
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/format#paper" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/format#electronic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GuaranteeValidityPeriodType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="GuaranteeValidityPeriodTypeType">
    <xs:restriction base="GuaranteeValidityPeriodType">
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/validity-period?duration=" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/validity-period?final-date=" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GuaranteeMonetaryLimitType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="GuaranteeMonetaryLimitTypeType">
    <xs:restriction base="GuaranteeMonetaryLimitType">
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/monetary-limit?value=&amp;currency=" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ItemPropertyCodeType">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:simpleType name="ItemPropertyCodeTypeType">
    <xs:restriction base="ItemPropertyCodeType">
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/legal-framework" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/usage-rule-set" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/format" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/validity-period" />
      <xs:enumeration value="http://www.iru.org/model/guarantee-1/monetary-limit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>
        <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Item. Details</ccts:DictionaryEntryName>
          <ccts:Definition>Information directly relating to an item.</ccts:Definition>
          <ccts:ObjectClass>Item</ccts:ObjectClass>
          <ccts:AlternativeBusinessTerms>article, product, goods item</ccts:AlternativeBusinessTerms>
        </ccts:Component>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SellersItemIdentification" type="ItemIdentificationType">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item. Sellers_ Item Identification. Item Identification</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the item with its identification according to the IRU system.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Item</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Sellers</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItemProperty" type="ItemPropertyType">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item. Additional_ Item Property. Item	Property</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the item with a set of additional properties.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Item</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Item Property</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Item Property</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemInstance" type="ItemInstanceType">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item. Item Instance</ccts:DictionaryEntryName>
              <ccts:Definition>An association to Item Instance.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Item</ccts:ObjectClass>
              <ccts:PropertyTerm>Item Instance</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Item Instance</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemIdentificationType">
    <xs:annotation>
      <xs:documentation>
        <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Item Identification. Details</ccts:DictionaryEntryName>
          <ccts:Definition>Information about item identification.</ccts:Definition>
          <ccts:ObjectClass>Item Identification</ccts:ObjectClass>
        </ccts:Component>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item Identification. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>An identifier for an item.</ccts:Definition>
              <ccts:Cardinality>1</ccts:Cardinality>
              <ccts:ObjectClass>Item Identification</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
              <ccts:Examples>CUST001 3333-44-123</ccts:Examples>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPropertyType">
    <xs:annotation>
      <xs:documentation>
        <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Item Property. Details</ccts:DictionaryEntryName>
          <ccts:Definition>Information about specific Item Properties.</ccts:Definition>
          <ccts:ObjectClass>Item Property</ccts:ObjectClass>
        </ccts:Component>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NameCode" type="ItemPropertyCodeType">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item Property. Name Code. Code</ccts:DictionaryEntryName>
              <ccts:Definition>The name of the Item Property expressed as code.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Item Property</ccts:ObjectClass>
              <ccts:PropertyTerm>Name Code</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item Property. Value. Text</ccts:DictionaryEntryName>
              <ccts:Definition>The Item Property value expressed as a text.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Item Property</ccts:ObjectClass>
              <ccts:PropertyTerm>Value</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
              <ccts:Examples>100 watts ,  15 European ,  20% +/- 5%</ccts:Examples>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemInstanceType">
    <xs:annotation>
      <xs:documentation>
        <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
          <ccts:ComponentType>ABIE</ccts:ComponentType>
          <ccts:DictionaryEntryName>Item Instance. Details</ccts:DictionaryEntryName>
          <ccts:Definition>Information about a specific instance of an item.</ccts:Definition>
          <ccts:ObjectClass>Item Instance</ccts:ObjectClass>
        </ccts:Component>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ProductTraceID" type="GuaranteeNumberType">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item Instance. Product Trace_ Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>An identifier used for tracing the item, such as the EPC number used in RFID.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Item Instance</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Product Trace</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ManufactureDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item Instance. Manufacture Date Time. Date Time</ccts:DictionaryEntryName>
              <ccts:Definition>The date and time of manufacture of the Item Instance.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Item Instance</ccts:ObjectClass>
              <ccts:PropertyTerm>Manufacture Date Time</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
              <ccts:DataType>Date Time. Type</ccts:DataType>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItemProperty" type="ItemPropertyType">
        <xs:annotation>
          <xs:documentation>
            <ccts:Component xmlns:ccts="urn:un:unece:uncefact:documentation:2">
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Item. Additional_ Item Property. Item	Property</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the item with a set of additional properties.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Item</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Item Property</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Item Property</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>