classic/WSCscc_BE/WSCscc_Client/Web References/WSSTstc/asmapCopy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.iru.org" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.iru.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.iru.org">
      <s:element name="WSSTstc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="su" type="tns:SafeTIRUploadCopy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SafeTIRUploadCopy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="safeTIRUploadData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyToID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyFromID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender_MessageID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSSTstcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSSTstcResult" type="tns:SafeTIRUploadCopyAck" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SafeTIRUploadCopyAck">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSSTstcSoapIn">
    <wsdl:part name="parameters" element="tns:WSSTstc" />
  </wsdl:message>
  <wsdl:message name="WSSTstcSoapOut">
    <wsdl:part name="parameters" element="tns:WSSTstcResponse" />
  </wsdl:message>
  <wsdl:portType name="SafeTIRUploadCopyServiceSoap">
    <wsdl:operation name="WSSTstc">
      <wsdl:input message="tns:WSSTstcSoapIn" />
      <wsdl:output message="tns:WSSTstcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SafeTIRUploadCopyServiceSoap" type="tns:SafeTIRUploadCopyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="WSSTstc">
      <soap:operation soapAction="http://www.iru.org/WSSTstc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SafeTIRUploadCopyService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="SafeTIRUploadCopyServiceSoap" binding="tns:SafeTIRUploadCopyServiceSoap">
      <soap:address location="http://localhost/RTS/WSSTstc_WS/asmapCopy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>