classic/WSEGIS_BE/EGIS_Processor/Service References/BizTalk.eTIR.TransitMessagingService/IRU_EPD_BizTalk_eTIR_Orchestrations_services_TransitMessagingService_1_TransitMessagingSEIPort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://epd.iru.org/model/TransitMessaging-1" elementFormDefault="qualified" targetNamespace="http://epd.iru.org/model/TransitMessaging-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CountryISO2CodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GuaranteeNumberType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IruReferenceNumberType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="36" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransitMessageType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IruReferenceNumber" type="IruReferenceNumberType" />
      <xs:element minOccurs="1" maxOccurs="1" name="CountryCode" type="CountryISO2CodeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="MessageTypeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="GuaranteeNumber" type="GuaranteeNumberType" />
      <xs:element minOccurs="1" maxOccurs="1" name="OriginalProcessedDatetime" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="MessageXml" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LAST_UPDATE_DATETIME" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransitMessage" nillable="true" type="TransitMessageType" />
  <xs:complexType name="ArrayOfTransitMessagesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransitMessage" type="TransitMessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransitMessages" nillable="true" type="ArrayOfTransitMessagesType" />
</xs:schema>