classic/WSEGIS_BE/EGIS_Processor/Service References/CarnetingService/StandardCarnetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Carneting.CarnetingBL.Contracts/2011/09/12" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="StandardCarnetingService" targetNamespace="http://Carneting.CarnetingBL.Contracts/2011/09/12" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Carneting.CarnetingBL.Contracts/2011/09/12/Imports">
      <xsd:import schemaLocation="http://172.25.12.50:9999/StandardCarnetingService?xsd=xsd0" namespace="http://Carneting.CarnetingBL.Contracts/2011/09/12" />
      <xsd:import schemaLocation="http://172.25.12.50:9999/StandardCarnetingService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.25.12.50:9999/StandardCarnetingService?xsd=xsd2" namespace="http://Carneting.CarnetingBL.Contracts" />
      <xsd:import schemaLocation="http://172.25.12.50:9999/StandardCarnetingService?xsd=xsd3" namespace="http://CarnetingDBContracts" />
      <xsd:import schemaLocation="http://172.25.12.50:9999/StandardCarnetingService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://172.25.12.50:9999/StandardCarnetingService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStandardCarnetingService_GetBulletin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBulletin" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetBulletin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBulletinResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetBulletinByInvNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBulletinByInvNum" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetBulletinByInvNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBulletinByInvNumResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnet" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetPacketDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacketDetails" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetPacketDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacketDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSerieDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSerieDetails" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSerieDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSerieDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSafeTIRData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSafeTIRData" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSafeTIRData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSafeTIRDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetExtendedSafeTIRData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtendedSafeTIRData" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetExtendedSafeTIRData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtendedSafeTIRDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetArchivedCarnetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivedCarnetRecords" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetArchivedCarnetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivedCarnetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetExtendedArchivedCarnetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtendedArchivedCarnetRecords" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetExtendedArchivedCarnetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtendedArchivedCarnetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetInformation" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_BulkLoadCarnetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkLoadCarnetDetails" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_BulkLoadCarnetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkLoadCarnetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateCarnetStateReason_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarnetStateReason" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateCarnetStateReason_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarnetStateReasonResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateCarnetStateReason_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://Carneting.CarnetingBL.Contracts" name="detail" element="q1:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateFullCarnetStateReason_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFullCarnetStateReason" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateFullCarnetStateReason_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFullCarnetStateReasonResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateFullCarnetStateReason_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://Carneting.CarnetingBL.Contracts" name="detail" element="q2:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSafeTIRCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSafeTIRCount" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSafeTIRCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSafeTIRCountResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetSafeTIRCount_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q3="http://Carneting.CarnetingBL.Contracts" name="detail" element="q3:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetFullCarnetDetailsAndHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFullCarnetDetailsAndHistory" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetFullCarnetDetailsAndHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFullCarnetDetailsAndHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetFullCarnetDetailsAndHistory_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q4="http://Carneting.CarnetingBL.Contracts" name="detail" element="q4:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateFullCarnetStateReasonDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFullCarnetStateReasonDate" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateFullCarnetStateReasonDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFullCarnetStateReasonDateResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_UpdateFullCarnetStateReasonDate_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q5="http://Carneting.CarnetingBL.Contracts" name="detail" element="q5:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetNumberOfPagesForCarnet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfPagesForCarnet" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetNumberOfPagesForCarnet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfPagesForCarnetResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetNumberOfPagesForCarnet_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q6="http://Carneting.CarnetingBL.Contracts" name="detail" element="q6:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetAllAssociations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAssociations" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetAllAssociations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAssociationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetAllAssociations_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q7="http://Carneting.CarnetingBL.Contracts" name="detail" element="q7:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetStatusMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetStatusMessages" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetStatusMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetStatusMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetStatusMessages_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q8="http://Carneting.CarnetingBL.Contracts" name="detail" element="q8:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetStatusMessagesTranslationsForLocales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetStatusMessagesTranslationsForLocales" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetStatusMessagesTranslationsForLocales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarnetStatusMessagesTranslationsForLocalesResponse" />
  </wsdl:message>
  <wsdl:message name="IStandardCarnetingService_GetCarnetStatusMessagesTranslationsForLocales_CarnetingFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q9="http://Carneting.CarnetingBL.Contracts" name="detail" element="q9:CarnetingFaultContract" />
  </wsdl:message>
  <wsdl:portType name="IStandardCarnetingService">
    <wsdl:operation name="GetBulletin">
      <wsdl:input wsaw:Action="GetBulletin" message="tns:IStandardCarnetingService_GetBulletin_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetBulletinResponse" message="tns:IStandardCarnetingService_GetBulletin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBulletinByInvNum">
      <wsdl:input wsaw:Action="GetBulletinByInvNum" message="tns:IStandardCarnetingService_GetBulletinByInvNum_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetBulletinByInvNumResponse" message="tns:IStandardCarnetingService_GetBulletinByInvNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarnet">
      <wsdl:input wsaw:Action="GetCarnet" message="tns:IStandardCarnetingService_GetCarnet_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetResponse" message="tns:IStandardCarnetingService_GetCarnet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacketDetails">
      <wsdl:input wsaw:Action="GetPacketDetails" message="tns:IStandardCarnetingService_GetPacketDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetPacketDetailsResponse" message="tns:IStandardCarnetingService_GetPacketDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSerieDetails">
      <wsdl:input wsaw:Action="GetSerieDetails" message="tns:IStandardCarnetingService_GetSerieDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetSerieDetailsResponse" message="tns:IStandardCarnetingService_GetSerieDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="GetHistory" message="tns:IStandardCarnetingService_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetHistoryResponse" message="tns:IStandardCarnetingService_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSafeTIRData">
      <wsdl:input wsaw:Action="GetSafeTIRData" message="tns:IStandardCarnetingService_GetSafeTIRData_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetSafeTIRDataResponse" message="tns:IStandardCarnetingService_GetSafeTIRData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtendedSafeTIRData">
      <wsdl:input wsaw:Action="GetExtendedSafeTIRData" message="tns:IStandardCarnetingService_GetExtendedSafeTIRData_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetExtendedSafeTIRDataResponse" message="tns:IStandardCarnetingService_GetExtendedSafeTIRData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchivedCarnetRecords">
      <wsdl:input wsaw:Action="GetArchivedCarnetRecords" message="tns:IStandardCarnetingService_GetArchivedCarnetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetArchivedCarnetRecordsResponse" message="tns:IStandardCarnetingService_GetArchivedCarnetRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtendedArchivedCarnetRecords">
      <wsdl:input wsaw:Action="GetExtendedArchivedCarnetRecords" message="tns:IStandardCarnetingService_GetExtendedArchivedCarnetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetExtendedArchivedCarnetRecordsResponse" message="tns:IStandardCarnetingService_GetExtendedArchivedCarnetRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarnetInformation">
      <wsdl:input wsaw:Action="GetCarnetInformation" message="tns:IStandardCarnetingService_GetCarnetInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetInformationResponse" message="tns:IStandardCarnetingService_GetCarnetInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BulkLoadCarnetDetails">
      <wsdl:input wsaw:Action="BulkLoadCarnetDetails" message="tns:IStandardCarnetingService_BulkLoadCarnetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/BulkLoadCarnetDetailsResponse" message="tns:IStandardCarnetingService_BulkLoadCarnetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCarnetStateReason">
      <wsdl:input wsaw:Action="UpdateCarnetStateReason" message="tns:IStandardCarnetingService_UpdateCarnetStateReason_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/UpdateCarnetStateReasonResponse" message="tns:IStandardCarnetingService_UpdateCarnetStateReason_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/UpdateCarnetStateReasonCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_UpdateCarnetStateReason_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFullCarnetStateReason">
      <wsdl:input wsaw:Action="UpdateFullCarnetStateReason" message="tns:IStandardCarnetingService_UpdateFullCarnetStateReason_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/UpdateFullCarnetStateReasonResponse" message="tns:IStandardCarnetingService_UpdateFullCarnetStateReason_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/UpdateFullCarnetStateReasonCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_UpdateFullCarnetStateReason_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSafeTIRCount">
      <wsdl:input wsaw:Action="GetSafeTIRCount" message="tns:IStandardCarnetingService_GetSafeTIRCount_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetSafeTIRCountResponse" message="tns:IStandardCarnetingService_GetSafeTIRCount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetSafeTIRCountCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_GetSafeTIRCount_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFullCarnetDetailsAndHistory">
      <wsdl:input wsaw:Action="FullCarnetDetailsAndHistory" message="tns:IStandardCarnetingService_GetFullCarnetDetailsAndHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetFullCarnetDetailsAndHistoryResponse" message="tns:IStandardCarnetingService_GetFullCarnetDetailsAndHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetFullCarnetDetailsAndHistoryCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_GetFullCarnetDetailsAndHistory_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFullCarnetStateReasonDate">
      <wsdl:input wsaw:Action="UpdateFullCarnetStateReasonDate" message="tns:IStandardCarnetingService_UpdateFullCarnetStateReasonDate_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/UpdateFullCarnetStateReasonDateResponse" message="tns:IStandardCarnetingService_UpdateFullCarnetStateReasonDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/UpdateFullCarnetStateReasonDateCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_UpdateFullCarnetStateReasonDate_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPagesForCarnet">
      <wsdl:input wsaw:Action="GetNumberOfPagesForCarnet" message="tns:IStandardCarnetingService_GetNumberOfPagesForCarnet_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetNumberOfPagesForCarnetResponse" message="tns:IStandardCarnetingService_GetNumberOfPagesForCarnet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetNumberOfPagesForCarnetCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_GetNumberOfPagesForCarnet_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAssociations">
      <wsdl:input wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetAllAssociations" message="tns:IStandardCarnetingService_GetAllAssociations_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetAllAssociationsResponse" message="tns:IStandardCarnetingService_GetAllAssociations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetAllAssociationsCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_GetAllAssociations_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarnetStatusMessages">
      <wsdl:input wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessages" message="tns:IStandardCarnetingService_GetCarnetStatusMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessagesResponse" message="tns:IStandardCarnetingService_GetCarnetStatusMessages_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessagesCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_GetCarnetStatusMessages_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarnetStatusMessagesTranslationsForLocales">
      <wsdl:input wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessagesTranslationsForLocales" message="tns:IStandardCarnetingService_GetCarnetStatusMessagesTranslationsForLocales_InputMessage" />
      <wsdl:output wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessagesTranslationsForLocalesResponse" message="tns:IStandardCarnetingService_GetCarnetStatusMessagesTranslationsForLocales_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessagesTranslationsForLocalesCarnetingFaultContractFault" name="CarnetingFaultContractFault" message="tns:IStandardCarnetingService_GetCarnetStatusMessagesTranslationsForLocales_CarnetingFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStandardCarnetingService" type="tns:IStandardCarnetingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBulletin">
      <soap:operation soapAction="GetBulletin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBulletinByInvNum">
      <soap:operation soapAction="GetBulletinByInvNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarnet">
      <soap:operation soapAction="GetCarnet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacketDetails">
      <soap:operation soapAction="GetPacketDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSerieDetails">
      <soap:operation soapAction="GetSerieDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSafeTIRData">
      <soap:operation soapAction="GetSafeTIRData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExtendedSafeTIRData">
      <soap:operation soapAction="GetExtendedSafeTIRData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivedCarnetRecords">
      <soap:operation soapAction="GetArchivedCarnetRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExtendedArchivedCarnetRecords">
      <soap:operation soapAction="GetExtendedArchivedCarnetRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarnetInformation">
      <soap:operation soapAction="GetCarnetInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkLoadCarnetDetails">
      <soap:operation soapAction="BulkLoadCarnetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCarnetStateReason">
      <soap:operation soapAction="UpdateCarnetStateReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFullCarnetStateReason">
      <soap:operation soapAction="UpdateFullCarnetStateReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSafeTIRCount">
      <soap:operation soapAction="GetSafeTIRCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFullCarnetDetailsAndHistory">
      <soap:operation soapAction="FullCarnetDetailsAndHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFullCarnetStateReasonDate">
      <soap:operation soapAction="UpdateFullCarnetStateReasonDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPagesForCarnet">
      <soap:operation soapAction="GetNumberOfPagesForCarnet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllAssociations">
      <soap:operation soapAction="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetAllAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCarnetStatusMessages">
      <soap:operation soapAction="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCarnetStatusMessagesTranslationsForLocales">
      <soap:operation soapAction="http://Carneting.CarnetingBL.Contracts/2011/09/12/IStandardCarnetingService/GetCarnetStatusMessagesTranslationsForLocales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CarnetingFaultContractFault">
        <soap:fault use="literal" name="CarnetingFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StandardCarnetingService">
    <wsdl:port name="BasicHttpBinding_IStandardCarnetingService" binding="tns:BasicHttpBinding_IStandardCarnetingService">
      <soap:address location="http://172.25.12.50:9999/StandardCarnetingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>