classic/WSEGIS_BE/EGIS_Processor/Service References/CarnetingService/StandardCarnetingService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Carneting.CarnetingBL.Contracts" elementFormDefault="qualified" targetNamespace="http://Carneting.CarnetingBL.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CAR_Bull_Table_Row_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BULL_YEAR" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_NUM" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_USER" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BULL_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BULL_ASSOC" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_MDELV" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_INV_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BULL_INV_NUM" type="xs:int" />
      <xs:element minOccurs="0" name="BULL_PRINT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BULL_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Car_Bull_Det_Table_Rows" nillable="true" type="tns:ArrayOfCar_Bull_Det_Table_Row_Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAR_Bull_Table_Row_Contract" nillable="true" type="tns:CAR_Bull_Table_Row_Contract" />
  <xs:complexType name="ArrayOfCar_Bull_Det_Table_Row_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car_Bull_Det_Table_Row_Contract" nillable="true" type="tns:Car_Bull_Det_Table_Row_Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar_Bull_Det_Table_Row_Contract" nillable="true" type="tns:ArrayOfCar_Bull_Det_Table_Row_Contract" />
  <xs:complexType name="Car_Bull_Det_Table_Row_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BULL_DET_YEAR" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_DET_NUM" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_DET_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BULL_DET_FIRST_PACKET" type="xs:int" />
      <xs:element minOccurs="0" name="BULL_DET_QUANTITY" type="xs:int" />
      <xs:element minOccurs="0" name="BULL_DET_TYPE" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_DET_LANG" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_DET_LAST_CARNET" type="xs:int" />
      <xs:element minOccurs="0" name="BULL_DET_INSURER" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_DET_INSURER_C31" type="xs:short" />
      <xs:element minOccurs="0" name="BULL_DET_INSURER_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BULL_DET_INSURER_C31_TEXT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car_Bull_Det_Table_Row_Contract" nillable="true" type="tns:Car_Bull_Det_Table_Row_Contract" />
  <xs:complexType name="Typ__R_Carnet_Texts_T_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="T_State_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Reason_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Ass_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Type_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Insurer_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Ins_C31_Txt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Typ__R_Carnet_Texts_T_Contract" nillable="true" type="tns:Typ__R_Carnet_Texts_T_Contract" />
  <xs:complexType name="TYP__R_Packet_28_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="TYP__R_Packet_21" nillable="true" type="tns:TYP__R_Packet_21_Contract" />
      <xs:element minOccurs="0" name="Typ__R_Packet_Texts_T" nillable="true" type="tns:Typ__R_Packet_Texts_T_Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TYP__R_Packet_28_Contract" nillable="true" type="tns:TYP__R_Packet_28_Contract" />
  <xs:complexType name="TYP__R_Packet_21_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="V__I_Packet" type="xs:int" />
      <xs:element minOccurs="0" name="V__SI_State" type="xs:short" />
      <xs:element minOccurs="0" name="V__D_State_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="V__SI_User" type="xs:short" />
      <xs:element minOccurs="0" name="V__V24_Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="V__SI_Comment_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Assoc" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_MDelv" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_MDelv_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Inv_Num" type="xs:int" />
      <xs:element minOccurs="0" name="V__SI_Inv_Num_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__D_Inv_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="V__SI_Inv_Date_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Bull_Num" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Bull_Num_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__D_Bull_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="V__SI_Bull_Date_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__V30_Ref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="V__SI_Ref_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Insurer" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Insurer_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Ins_C31" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Ins_C31_Ind" type="xs:short" />
      <xs:element minOccurs="0" name="V__SI_Info_link" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TYP__R_Packet_21_Contract" nillable="true" type="tns:TYP__R_Packet_21_Contract" />
  <xs:complexType name="Typ__R_Packet_Texts_T_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="T_State_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Ass_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_deliv_Meth_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Insurer_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Ins_C31_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_9_Bul_Num_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_9_Fac_Num_Txt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="L_Pkt_Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Typ__R_Packet_Texts_T_Contract" nillable="true" type="tns:Typ__R_Packet_Texts_T_Contract" />
  <xs:complexType name="TYP__R_Series_17_T_Contract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Series_Contract">
        <xs:sequence>
          <xs:element minOccurs="0" name="T_State_Txt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_Date" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_Usage_Txt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_Surcharge_Txt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_Lang_Txt" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TYP__R_Series_17_T_Contract" nillable="true" type="tns:TYP__R_Series_17_T_Contract" />
  <xs:complexType name="Series_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="iSer_State" type="xs:int" />
      <xs:element minOccurs="0" name="iCarNumber" type="xs:int" />
      <xs:element minOccurs="0" name="iSer_Type" type="xs:int" />
      <xs:element minOccurs="0" name="iSer_Lang" type="xs:int" />
      <xs:element minOccurs="0" name="iSer_Association" type="xs:int" />
      <xs:element minOccurs="0" name="dtSer_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="iUsrName_Code" type="xs:int" />
      <xs:element minOccurs="0" name="sSer_Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iSer_Usage" type="xs:int" />
      <xs:element minOccurs="0" name="iSer_Surcharge" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Series_Contract" nillable="true" type="tns:Series_Contract" />
  <xs:complexType name="ArrayOfTYP__IDB_Record_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TYP__IDB_Record_Contract" nillable="true" type="tns:TYP__IDB_Record_Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTYP__IDB_Record_Contract" nillable="true" type="tns:ArrayOfTYP__IDB_Record_Contract" />
  <xs:complexType name="TYP__IDB_Record_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDB_Car_Record_State" type="xs:short" />
      <xs:element minOccurs="0" name="IDB_Car_Carnet_Number" type="xs:int" />
      <xs:element minOccurs="0" name="IDB_Car_Sheet_Number" type="xs:int" />
      <xs:element minOccurs="0" name="IDB_Car_Date_Of_Discharge" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDB_Car_Date_In_Ledger" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDB_Car_Creation_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDB_Car_Ref_In_Ledger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDB_Car_Ref_Cust_Office" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDB_Car_Ref_Num_Discharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDB_Car_Discharge_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDB_Car_Discharge_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDB_Hdr_Cust_File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDB_Hdr_Country_Iso_3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TYP__IDB_Record_Contract" nillable="true" type="tns:TYP__IDB_Record_Contract" />
  <xs:complexType name="ArrayOfExtendedSafeTIRRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedSafeTIRRecord" nillable="true" type="tns:ExtendedSafeTIRRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtendedSafeTIRRecord" nillable="true" type="tns:ArrayOfExtendedSafeTIRRecord" />
  <xs:complexType name="ExtendedSafeTIRRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockedByDispatch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarnetIndex" nillable="true" type="xs:int" />
      <xs:element name="CarnetKey" type="xs:long" />
      <xs:element minOccurs="0" name="CarnetNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CarnetReason" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="CarnetState" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomsFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomsNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomsOfficeReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateInLedger" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfDischarge" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReturned" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DischargeReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DischargeStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DischargeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileKey" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvoicedAssociation" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ModifyMotive" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPackages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PacketState" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="PreviousKey" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RecordState" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="RecordType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceInLedger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetainedByCustoms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnedAssociation" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SeriesType" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="TransitStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoletPageNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="XYZRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedSafeTIRRecord" nillable="true" type="tns:ExtendedSafeTIRRecord" />
  <xs:complexType name="ArrayOfArchivedCarnetRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchivedCarnetRecord" nillable="true" type="tns:ArchivedCarnetRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchivedCarnetRecord" nillable="true" type="tns:ArrayOfArchivedCarnetRecord" />
  <xs:complexType name="ArchivedCarnetRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociationId" nillable="true" type="xs:short" />
      <xs:element name="CarnetNumber" type="xs:int" />
      <xs:element name="ReceivedOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchivedCarnetRecord" nillable="true" type="tns:ArchivedCarnetRecord" />
  <xs:complexType name="ArrayOfExtendedArchivedCarnetRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedArchivedCarnetRecord" nillable="true" type="tns:ExtendedArchivedCarnetRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtendedArchivedCarnetRecord" nillable="true" type="tns:ArrayOfExtendedArchivedCarnetRecord" />
  <xs:complexType name="ExtendedArchivedCarnetRecord">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArchivedCarnetRecord">
        <xs:sequence>
          <xs:element name="ForControl" type="xs:boolean" />
          <xs:element name="Used" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtendedArchivedCarnetRecord" nillable="true" type="tns:ExtendedArchivedCarnetRecord" />
  <xs:complexType name="CarnetInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clause3132Insurer" nillable="true" type="tns:Insurer" />
      <xs:element name="Current" nillable="true" type="tns:CarnetDetails" />
      <xs:element name="GlobalInsurer" nillable="true" type="tns:Insurer" />
      <xs:element minOccurs="0" name="History" nillable="true" type="tns:ArrayOfCarnetDetails" />
      <xs:element minOccurs="0" name="Issued" nillable="true" type="tns:IssuanceInformation" />
      <xs:element name="Number" type="xs:int" />
      <xs:element name="NumberOfPages" type="xs:int" />
      <xs:element name="Packet" nillable="true" type="tns:PacketInformation" />
      <xs:element minOccurs="0" name="Returned" nillable="true" type="tns:ReturnInformation" />
      <xs:element name="Type" nillable="true" type="tns:CarnetType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarnetInformation" nillable="true" type="tns:CarnetInformation" />
  <xs:complexType name="Insurer">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insurer" nillable="true" type="tns:Insurer" />
  <xs:complexType name="CarnetDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseCarnetInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchivePacketNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Party" nillable="true" type="tns:Association" />
          <xs:element name="Reason" nillable="true" type="tns:TIRReason" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarnetDetails" nillable="true" type="tns:CarnetDetails" />
  <xs:complexType name="BaseCarnetInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="tns:TIRChangeDetails" />
      <xs:element name="State" nillable="true" type="tns:TIRState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCarnetInformation" nillable="true" type="tns:BaseCarnetInformation" />
  <xs:complexType name="TIRChangeDetails">
    <xs:sequence>
      <xs:element name="By" nillable="true" type="tns:CarnetingUser" />
      <xs:element name="On" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIRChangeDetails" nillable="true" type="tns:TIRChangeDetails" />
  <xs:complexType name="CarnetingUser">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarnetingUser" nillable="true" type="tns:CarnetingUser" />
  <xs:complexType name="TIRState">
    <xs:sequence>
      <xs:element name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIRState" nillable="true" type="tns:TIRState" />
  <xs:complexType name="Association">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Association" nillable="true" type="tns:Association" />
  <xs:complexType name="TIRReason">
    <xs:sequence>
      <xs:element name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIRReason" nillable="true" type="tns:TIRReason" />
  <xs:complexType name="ArrayOfCarnetDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarnetDetails" nillable="true" type="tns:CarnetDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarnetDetails" nillable="true" type="tns:ArrayOfCarnetDetails" />
  <xs:complexType name="IssuanceInformation">
    <xs:sequence>
      <xs:element name="ByAssociation" nillable="true" type="tns:Association" />
      <xs:element name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HVG" nillable="true" type="xs:boolean" />
      <xs:element name="Holder" nillable="true" type="tns:Holder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssuanceInformation" nillable="true" type="tns:IssuanceInformation" />
  <xs:complexType name="Holder">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Holder" nillable="true" type="tns:Holder" />
  <xs:complexType name="PacketInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseCarnetInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryMode" nillable="true" type="tns:PacketDeliveryMode" />
          <xs:element minOccurs="0" name="DeliveryNote" nillable="true" type="tns:PacketDeliveryNote" />
          <xs:element name="FirstCarnetNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Invoice" nillable="true" type="tns:PacketInvoice" />
          <xs:element name="SerieInformation" nillable="true" type="tns:SerieInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PacketInformation" nillable="true" type="tns:PacketInformation" />
  <xs:complexType name="PacketDeliveryMode">
    <xs:sequence>
      <xs:element name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description_FR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacketDeliveryMode" nillable="true" type="tns:PacketDeliveryMode" />
  <xs:complexType name="PacketDeliveryNote">
    <xs:sequence>
      <xs:element name="Date" type="xs:dateTime" />
      <xs:element name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacketDeliveryNote" nillable="true" type="tns:PacketDeliveryNote" />
  <xs:complexType name="PacketInvoice">
    <xs:sequence>
      <xs:element name="Date" nillable="true" type="xs:dateTime" />
      <xs:element name="Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element name="ToAssociation" nillable="true" type="tns:Association" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacketInvoice" nillable="true" type="tns:PacketInvoice" />
  <xs:complexType name="SerieInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseCarnetInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element name="FirstCarnetNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="tns:Language" />
          <xs:element minOccurs="0" name="Surcharge" nillable="true" type="tns:SerieSurcharge" />
          <xs:element minOccurs="0" name="Usage" nillable="true" type="tns:SerieUsage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SerieInformation" nillable="true" type="tns:SerieInformation" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element name="Code" type="xs:int" />
      <xs:element name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="SerieSurcharge">
    <xs:sequence>
      <xs:element name="Code" type="xs:short" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerieSurcharge" nillable="true" type="tns:SerieSurcharge" />
  <xs:complexType name="SerieUsage">
    <xs:sequence>
      <xs:element name="Code" type="xs:short" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerieUsage" nillable="true" type="tns:SerieUsage" />
  <xs:complexType name="ReturnInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="HVG" nillable="true" type="xs:boolean" />
      <xs:element name="On" type="xs:dateTime" />
      <xs:element name="ToAssociation" nillable="true" type="tns:Association" />
      <xs:element name="Used" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnInformation" nillable="true" type="tns:ReturnInformation" />
  <xs:complexType name="CarnetType">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarnetType" nillable="true" type="tns:CarnetType" />
  <xs:complexType name="ArrayOfBulkCarnetDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulkCarnetDetails" nillable="true" type="tns:BulkCarnetDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulkCarnetDetails" nillable="true" type="tns:ArrayOfBulkCarnetDetails" />
  <xs:complexType name="BulkCarnetDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociationCode" type="xs:int" />
      <xs:element minOccurs="0" name="CarnetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clause3132Insurer" nillable="true" type="tns:Insurer" />
      <xs:element minOccurs="0" name="GlobalInsurer" nillable="true" type="tns:Insurer" />
      <xs:element minOccurs="0" name="HolderCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkCarnetDetails" nillable="true" type="tns:BulkCarnetDetails" />
  <xs:complexType name="CarnetingFaultContract">
    <xs:sequence>
      <xs:element name="ErrorId" type="xs:int" />
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarnetingFaultContract" nillable="true" type="tns:CarnetingFaultContract" />
</xs:schema>